div, body, hgroup, span, section, ul {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

.section-title {
    font-size: 1.6em;
    text-align: center;
}